* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}

img {
    width: 100%;
    min-height: 100vh;
    opacity: 0.9;
    z-index: -3;
}

header {
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    overflow: hidden;
    padding: 10px 50px;
}

header h1 {
    color: #F1EFDF;
    box-shadow: -4px 2px 30px rgba(0, 0, 0, 0.7);
    cursor: pointer;
}

header nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

header nav ul li {
    padding: 0 30px;
}

header nav ul li a {
    text-decoration: none;
    color: #F1EFDF;
    text-transform: uppercase;
    font-size: 12px;
}

.toggle {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: .5s;
    z-index: 40;
}

.toggle::after {
    position: absolute;
    content: '';
    width: 17px;
    height: 1px;
    background: #f1efdf;
    transform: translateY(-6px);
    box-shadow: -5px 6px #f1efdf;
    transition: .5s;
    z-index: 40;
}

.toggle::before {
    position: absolute;
    content: '';
    width: 12px;
    height: 1px;
    background: #f1efdf;
    transform: translateY(6px);
    right: 65px;
    box-shadow: none;
    transition: .5s;
    z-index: 40;
}

.toggle:hover::after {
    box-shadow: -7px 6px #f1efdf;
    width: 19px;
    transition: .5s;
}

.toggle:hover::before {
    width: 17px;
    transition: .5s;
}


/* section */

section {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 60px;
    width: 100%;
    opacity: 0;
    z-index: 0;
}

section .lamp {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

section .box {
    width: 300px;
    height: 400px;
    background: rgba(0, 0, 0, 0.2);
    overflow: hidden;
}

section .box img {
    width: 100%;
    object-fit: cover;
}

section .txt {
    padding: 40px;
}

section .txt h2 {
    font-size: 35px;
    line-height: 80px;
    color: rgba(0, 0, 0, 1.5);
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 2px;
    text-shadow: 0 0 50px #F1EFDF;
}

section .txt p {
    color: #f1efdf;
    letter-spacing: 2px;
    text-align: center;
    line-height: 25px;
}

section .txt h4 {
    text-align: end;
    line-height: 100px;
    font-size: 40px;
    text-shadow: 0 0 50px #F1EFDF;
}

section .txt h4 span {
    font-size: 30px;
}

section.current {
    opacity: 1;
}


/* footer */

footer {
    position: absolute;
    bottom: 0;
    padding: 20px;
    width: 10%;
}

footer .social-icons i {
    padding: 10px;
    font-size: 16px;
    color: #f1efdf;
    cursor: pointer;
}

.change {
    position: absolute;
    top: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 30px;
    transform: translateY(-50%);
}

.change i {
    color: #f1efdf;
}


/* make it responsive */

@media (max-width:640px) {
    header {
        height: 100%;
        z-index: 11;
    }
    header h1 {
        position: absolute;
        top: 10px;
        z-index: 41;
        left: 20px;
    }
    header .toggle {
        position: absolute;
        top: 10px;
        right: 20px;
        z-index: 40;
    }
    nav {
        width: 0px;
        position: absolute;
        left: 0;
        background: rgba(0, 0, 0, 0.3);
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: .5s;
        overflow: hidden;
    }
    nav.show {
        width: 200px;
        transition: .5s;
    }
    nav ul {
        display: flex;
        flex-direction: column;
    }
    nav ul li {
        line-height: 80px;
    }
    header nav ul li a {
        font-size: 20px;
    }
    .social-icons {
        display: none;
    }
    .toggle::before {
        right: 20px;
    }
    .toggle.active::after {
        position: absolute;
        content: '';
        width: 20px;
        height: 1px;
        background: #f1efdf;
        transform: rotate(45deg);
        box-shadow: none;
        transition: .5s;
    }
    .toggle.active::before {
        position: absolute;
        content: '';
        width: 20px;
        height: 1px;
        background: #f1efdf;
        transform: rotate(-45deg);
        right: 10px;
        transition: .5s;
    }
    section {
        display: flex;
        width: 100%;
        flex-direction: column;
        padding: 80px 20px;
        height: 1000px;
        z-index: 8;
    }
    section .lamp {
        width: 100%;
        height: 100%;
    }
    section .box {
        width: 300px;
        height: 100%;
    }
    section .box img {
        height: 100%;
    }
    section .txt {
        position: absolute;
        top: 40px;
    }
    section .txt h2 {
        position: absolute;
        transform: translateX(50%);
        color: #f1efdf;
    }
    section .txt .para {
        width: 200px;
        height: 300px;
        overflow: hidden;
    }
    section .txt p {
        position: relative;
        top: 70px;
        height: 100%;
        overflow-y: scroll;
    }
    section .txt h4 {
        position: relative;
        top: 40px;
    }
    .change {
        position: absolute;
        z-index: 20;
    }
    section.dull {
        z-index: 10;
        opacity: 0.5;
    }
}
